/**
 * @authors L
 * @date    2017-05-20 15:41:17
 * @desc    變量參數
 @import '~style/basic/param';
 */

// 深蓝
$color-dark-blue: #00204f;
$color-deep-blue: #03428e;
$color-light-blue: #187ce3;
$color-sky-blue: #4db3ff;

// 绿色
$color-green: #14e463;
$light-green: #2efaf7;
$color-red: #fc5346;

// 顶部导航栏高度
$bar-height: 68px;
